<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-bar-chart"></i> Stock Tracker 5000</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#"><i class="fa fa-pie-chart"></i> Dashboard</a></li>
        <li class="active"><a href="#"><i class="fa fa-line-chart"></i> Stock Viewer</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cogs"></i> Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Account</a></li>
            <li><a href="#">Portfolio</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Add Stock Split</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account: <strong>Account 1</strong><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="selectAccount()"><i class="fa fa-dot-circle-o"></i> Account 1</a></li>
            <li><a (click)="selectAccount()"><i class="fa fa-circle-o"></i> Account 2</a></li>
            <li><a (click)="selectAccount()"><i class="fa fa-circle-o"></i> Account 3</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfolio: <strong>All</strong> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="selectPortfolio()"><i class="fa fa-dot-circle-o"></i> All</a></li>
            <li><a (click)="selectPortfolio()"><i class="fa fa-circle-o"></i> TFSA</a></li>
            <li><a (click)="selectPortfolio()"><i class="fa fa-circle-o"></i> RRSP</a></li>
          </ul>
        </li>
      </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<router-outlet></router-outlet>