<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active"><i class="fa fa-bar-chart"></i> Stock Tracker 5000</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account: <strong>{{selectedAccount ? selectedAccount.name : "None"}}</strong><span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li *ngFor="let account of accountService.accounts" (click)="selectAccount(account)"><a>{{account.name}}</a></li>
          </ul>
        </li>
        <li routerLinkActive="active"><a routerLink="/dashboard" ><i class="fa fa-pie-chart"></i> Dashboard</a></li>
        <li routerLinkActive="active"><a routerLink="/stocks" ><i class="fa fa-line-chart"></i> Stock Viewer</a></li>
        <li class="dropdown" routerLinkActive="active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cogs"></i> Manage <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li routerLinkActive="active"><a routerLink="/accounts">Account</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Add Stock Split</a></li>
            </ul>
          </li>
        
        
      </ul>
     
    </div>
  </div>
</nav>
<router-outlet></router-outlet>